.navigation_root {
    width: 100%;
}

.navLink, .navLink:hover {
    text-decoration: none;
}

.profileButton {
    height: 3rem;
    width: 3rem;
    box-shadow: 0rem 0rem 0rem 0px #727372;
    transition: box-shadow linear 0.15s;
} .profileButton:hover {
    cursor: pointer;
    box-shadow: 0rem 0.1rem 0.2rem 0px #727372;
}

.profileButton img {
    padding: 0.1rem;
}