.formContainer {
    width: auto;    
}

.formTextField { }
.formTextField > label {
    width: 100%;
}

.formCheckboxField { }
.checkbox {
    vertical-align: middle;
    margin-right: 5px;
}

.formSubmitField { }

.username { }
.email { }
.firstName { }
.lastName { }
.password { }
.generatePassword { }
.submitButton { }