.formContainer {
    width: auto;
}

.formTextField { }
.formTextField > label {
    width: 100%;
}

.formSelectField { }
.formSelectField > label {
    width: 100%;
}

.formDateField { }
.formDateField > label {
    width: 100%;
}

.formCheckboxField { }
.checkbox {
    vertical-align: middle;
    margin-right: 5px;
}

.formSubmitField { }